# MariaDB Database Configuration
DB_URL=jdbc:mariadb://<DB_HOST>:<DB_PORT>/<DB_NAME>?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf-8
DB_USERNAME=
DB_PASSWORD=

# Redis Configuration
REDIS_HOST=<REDIS_HOST>
REDIS_PORT=6379
