# MariaDB Database Configuration
DB_URL=jdbc:mariadb://<DB_HOST>:<DB_PORT>/<DB_NAME>?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf-8
DB_USERNAME=
DB_PASSWORD=

# Redis Configuration
REDIS_HOST=<REDIS_HOST>
REDIS_PORT=6379

# JWT Configurations (Base64 Encoded Key - 256 bits minimum)
JWT_SECRET=

# OAuth2 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

